<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="assets/img/Balance-Logo.jpg" alt="balance logo" id="logoimage" /> 
        </div>
    </div>

    <div class="row">
   <div class="col-sm-6">
<a href="/userProfile" class="custom-card">
  <div class="card" style="background-color: #3f51b5; color: whitesmoke; display: inline-block display: inline-block">
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">User Account</h5>
      <p class="card-text">View your profile here. </p>
    </div>
  </div>
</a>
</div>

<div class="col-sm-6">
<a href="/data" class="custom-card">
  <div class="card" style="background-color: #3f51b5; color: whitesmoke; display: inline-block display: inline-block">
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Data</h5>
      <p class="card-text">Collection of your data entries.</p>
    </div>
  </div>
</a>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<a href="/data" class="custom-card">
  <div class="card" style="background-color: #3f51b5; color: whitesmoke; display: inline-block display: inline-block">
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Activity Logger</h5>
      <p class="card-text">Log your activities for the current or previous days. </p>
    </div>
  </div>
</a>
</div>

<div class="col-sm-6">
<a href="/data" class="custom-card">
  <div class="card" style="background-color: #3f51b5; color: whitesmoke; display: inline-block display: inline-block">
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nutrition Logger</h5>
      <p class="card-text">Log your meals for the current or previous days.</p>
    </div>
  </div>
</a>
</div>
</div>