<div class="container">
    <form class="goalEntry-create-form">
        <div class="form-group">
            <label for="Goal-Title">Title:</label> 
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-bars"></i>
                    </div>
                </div> 
                <input id="Goal-Title" name="Goal-Title" placeholder="Enter Goal Entry Title..." type="text" required="required" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Goal-Type">Goal Type:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-bars"></i>
                    </div>
                </div> 
                <input id="Goal-Type" name="Goal-Type" placeholder="Enter they type of goal (i.e. Weightloss, etc.)" type="text" required="required" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Goal-Time">Goal Time:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-bars"></i>
                    </div>
                </div> 
                <input id="Goal-Time" name="Goal-Time" placeholder="Enter your expected time to complete this goal" type="text" required="required" class="form-control">
            </div>
        </div>  
    </form>
</div>