h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 65px;
    margin-top: 3vh;
}

ul {
    list-style-type: none;
}

.card {
    margin-top: 5vh;
    font-family: 'Poppins', sans-serif;
    box-shadow: 10px 10px 5px grey;
}

.menu-collapsed {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

.navbar {
    background: #3f51b5 !important;
}

.btn {
    box-shadow: 10 px 10px 5px grey;
    border-radius: 4px;
}

.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}

#logoimage {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

#sidebar-container
    .list-group
    .list-group-item[aria-expanded='false']
    .submenu-icon::after {
    content: ' \f0d7';
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

#sidebar-container
    .list-group
    .list-group-item[aria-expanded='true']
    .submenu-icon::after {
    content: ' \f0da';
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

#backtodash {
    margin-top: 5vh;
}

/*for the contact form*/
input[type='text'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type='submit'] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column,
    input[type='submit'] {
        width: 100%;
        margin-top: 0;
    }
}
